<!DOCTYPE html>
<html>
  <style>
    Body{ 
   background-color: rgb(209, 142, 66);
}
    
</style>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ message }}

    <h1>Examen terminado con exito total</h1>

    <img src="https://image.freepik.com/vector-gratis/feliz-nino-lindo-nina-ganar-juego-trofeo-oro_97632-1065.jpg" width="45%">

  </body>
</html>